body {
  margin: 5px;
  padding: 0;
  overflow: hidden;
  border: 3px solid black;
  width: 2000px;
  height: 2000px;
  background-image: url('images/Textures_Floor_01-600x600.jpg');
}

.person {
  --r: 0;
  --g: 0;
  --b: 0;
  width: 128px;
  height: 128px;
  overflow: hidden;
  border-radius: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  box-shadow: 0 0 0 0rem rgba(var(--r), var(--g), var(--b), 0.1),
              0 0 0 0rem rgba(var(--r), var(--g), var(--b), 0.1),
              0 0 0 0rem rgba(var(--r), var(--g), var(--b), 0.1);
  transition: box-shadow 0.5s ease-in;
  z-index: 9;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.person.speaking {
  box-shadow: 0 0 0 0.5rem rgba(var(--r), var(--g), var(--b), 0.2),
              0 0 0 1rem rgba(var(--r), var(--g), var(--b), 0.2),
              0 0 0 2rem rgba(var(--r), var(--g), var(--b), 0.2);
}

.decor {
  width: 128px;
  height: 128px;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  position: fixed;
  top: 64px;
  left: 12px;
  box-shadow: none;
  transition: box-shadow 0.5s ease-in;
}

#DecorAddButton {
  position: fixed;
}

#context {
  position: fixed;
  flex-direction: column;
  top: 12px;
  right: 12px;
  visibility: hidden;
  width: 300px;
  height: 80vh;
  display: flex;
  align-content: center;
  justify-content: center;
  background: rgb(34, 35, 37);
  color: white;
  z-index: 99;
}

.contextEmotes {
  position: relative;
  flex-direction: column;
  top: -12px;
  left: 100px;
  visibility: hidden;
  width: 300px;
  height: 80vh;
  display: flex;
  align-content: center;
  justify-content: center;
  background: #4c6e47;
  color: white;
}

.btn {
  width: 200px;
  height: 36px;
  background-color: chocolate;
  color: white;
}

.line {
  width: 4px;
  height: 4px;
  background: darkgreen;
}