body {
  margin: 5px;
  padding: 0;
  overflow: hidden;
  border: 3px solid black;
  width: 2000px;
  height: 2000px;
  background-image: url('images/1920x1200_13831_[www.ArtFile.ru].jpg');
}

.person {
  --r: 0;
  --g: 0;
  --b: 0;
  width: 128px;
  height: 128px;
  overflow: hidden;
  border-radius: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  box-shadow: 0 0 0 0rem rgba(var(--r), var(--g), var(--b), 0.1),
              0 0 0 0rem rgba(var(--r), var(--g), var(--b), 0.1),
              0 0 0 0rem rgba(var(--r), var(--g), var(--b), 0.1);
  transition: box-shadow 0.5s ease-in;
  z-index: 9;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.person.speaking {
  box-shadow: 0 0 0 0.5rem rgba(var(--r), var(--g), var(--b), 0.2),
              0 0 0 1rem rgba(var(--r), var(--g), var(--b), 0.2),
              0 0 0 2rem rgba(var(--r), var(--g), var(--b), 0.2);
}


.decor {
  width: 128px;
  height: 128px;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  box-shadow: none;
  transition: box-shadow 0.5s ease-in;
}