.person {
  width: 128px;
  height: 128px;
  overflow: hidden;
  border-radius: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  box-shadow: none;
  transition: box-shadow 0.5s ease-in;
  z-index: 9;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.person.speaking {
  box-shadow: 0 0 0 1.5rem rgba(0,0,0, 0.1),
              0 0 0 3.5rem rgba(0,0,0, 0.1),
              0 0 0 6rem rgba(0,0,0, 0.1);
}

.decor {
  width: 128px;
  height: 128px;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  box-shadow: none;
  transition: box-shadow 0.5s ease-in;
}

#context {
  position: absolute;
  visibility: hidden;
  width: 300px;
  height: 80vh;
  display: flex;
  align-content: center;
  justify-content: center;
  background: #858585;
}

.btn {
  width: 200px;
  height: 36px;
  background-color: chocolate;
}

.line {
  width: 4px;
  height: 4px;
  background: darkgreen;
}